table{
    font-size: 12px;
}

.search-view{
    overflow-y: scroll;
    overflow-x: hidden;
}

.col-name{
    overflow: hidden;
    white-space: nowrap;
    width: 20px;
    text-overflow: ellipsis;
}

.in-history{
    color: #999;
}

.order-selected{
    background-color: #fff1db;
}

.form-rounded {
    border-radius: 1rem;
}